.topic-container {
    //height: 80px;
    background-color: #f0f6fc;
    padding: 20px 0 20px 15px;
    position: relative;
    margin-top: 16px;
    .user-avatar {
        width: 30px;
        height: 30px;
        float: left;
        img {
            width: 30px;
            height: 30px;
        }
    }
    .user-content {
        display: inline-block;
        float: left;
        padding-left: 10px;
        width: 95%;
        padding-right: 15px;
        .user-meta {
            padding-bottom: 3px;
            .user-detail {
                display: inline-block;
                font-size: 12px;
                line-height: 16px;
                color: #008cff;
            }
            .user-time {
                display: inline-block;
                font-size: 12px;
                padding-left: 10px;
                color: #999;
            }
        }

        .user-word {
            font-size: 16px;
            line-height: 20px;
            color: #333;
            font-weight: bold;
            word-break: break-all;
        }
    }

}