//information component
.information-container {
  .informationlist-item-container {
    border-left: 1px solid #ddd;
    list-style: none;
    position: relative;
    &:first-child {
      .list-item {
        .timer:before {
          content: '';
          width: 9px;
          height: 9px;
          background: #f6f6f6;
          display: inline-block;
          position: absolute;
          left: -5px;
          top: -3px
        }
      }
    }
    .list-item {
      padding: 0 15px 30px;
      .list-content {
          word-wrap : break-word;
      }
      .timer-outside-circle {
        width: 12px;
        height: 12px;
        background: #e5edfd;
        border-radius: 50%;
        position: absolute;
        left: -6px;
        top: 6px;
        .timer-inside-circle {
          width: 6px;
          height: 6px;
          background: #008cff;
          border-radius: 50%;
          position: absolute;
          top: 25%;
          left: 25%;
        }
      }
      .timer {
        font-size: 12px;
        color: #aaa;
        line-height: 16px;
        padding-top: 6px;
      }
    }
  }
}

.information-empty-container{
  width: 100%;
  height: 320px;
  font-size: 18px;
  color: #aaa;
  text-align: center;
  .information-empty-img{
    background: url('../../../img/news_empty@2x.png') no-repeat ;
    width: 100px;
    height: 150px;
    background-size: 100%;
    margin: 75px auto 0;
    margin-bottom: 25px;
    img{
      width: 100px;
      height: 150px;
    }
  }
}