body{
	background-color: #F0F1F2;
	overflow: hidden;
}
*{
	box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
 
@media (min-width: 1200px){
	.header {
	    background-color: red;
	}
	.leftbar-wrapper{
		position: relative!important;
		float: left!important;
		left: 15px!important;
	}
	.main-container{
		margin-right: 15px!important;
	}
}
@media (max-width: 1199px){
	.header {
	    background-color: green;
	}
	.leftbar-wrapper{
		position: fixed!important;
		left: 0px!important;
		width: 260px!important;
	}
	.audio-container,.video-container{
		width: 260px!important;
	}
	.main-container{
		margin-right: 20%!important;
	}
}
.react-container{
	height: 100%;
	.leftbar-wrapper{
		width: 470px;
		height: 100%;
		background-color: #F0F1F2;
		position: fixed;
		left: 50px;
	}
	.main-container{
		min-width: 500px;
    	margin-right: 320px;
    	float: right;
		width: 670px;
	}
	.audio-container,.video-container{
		height: 238px;
	}
}