body{
	background-color: #e4e6e9;
}
*{
	box-sizing: border-box;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.react-container{
	.main-container{
		float: left;
		width: 670px;
		margin-left: 30px;
	}

}