.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.discuss-container{
  margin-top: 10px;
}
.comment-list {
  background-color: #f6f6f6;
  padding: 20px;
  margin: 0px;
  padding-top: 5px;
}

.list-item-container {
  margin-top: 10px;
  list-style: none;
  position: relative;
}

.user-avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  border-radius: 80%;
  float: left;
  img {
    width: 30px;
    height: 30px;
  }
}

.user-content {
  position: relative;
  margin-left: 40px;
  border-radius: 6px;
  background: #fff;
  padding: 8px;
  line-height: 18px;
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 10px 6px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -8px;
    top: 8px;
  }
  .user-detail {
    font-size: 12px;

    color: #aaa;
    float: left;
  }
  .user-time {
    font-size: 11px;
    color: #aaa;
    float: right;
  }
}

.topic-container {
  padding: 20px;
  background-color: #e6eefe;
}
.topic-enpty-container{
  width: 100%;
  height: 100px;
  background-color: #e5edfd;
  line-height: 100px;
  text-align: center;
  color: #aaa;
  font-size: 18px;
}
.commentList-empty{
  width: 100%;
  height: 320px;
  font-size: 18px;
  color: #aaa;
  text-align: center;
  .commentList-empty-img{
    background: url('../../../img/discuess_empty@2x.png') no-repeat ;
    width: 133px;
    height: 105px;
    background-size: 100%;
    margin: 75px auto 0;
    margin-bottom: 25px;
  }
}

//收起展开
.fold-button{
  font-size: 12px;
  color: #aaa;
  text-align: right;
  cursor: pointer;
  position: relative;
  &:after{
    content: '';
    background-image: url('../../../img/vote_arrow@2x.png');
    width: 14px;
    height: 7px;
    display: inline-block;
    position: absolute;
    left: 10px;
  }
}

//缩略图
.thumbnail-container{
  font-size: 12px;
  color: #aaa;
  .thumbnail{
    width: 18px;
    height: 15px;
}

}

